<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <% if current_user %>
      <div class="review-container">
        <%= form_for [@product, Review.new] do |f| %>
          <dl class="review-form">
            <h3>Leave a review</h3>
            <dt><%= f.label :rating %></dt>
            <dd><%= f.select(:rating) do %>
            <% [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]].each do |c| %>
              <%= content_tag(:option, c.first, value: c.last) %>
            <% end %>
          <% end %></dd>
          <dt><%= f.label :description %></dt>
          <dd><%= f.text_area :description %></dd>
          <dt><%= f.submit "Post" %></dt>
          </dl>
        <% end %>
      </div>
    <% end %>

    <h2>Reviews</h2>
    <div class="reviews">
      <% @product.reviews.reverse_each do |review| %>
        <dl class="dl-horizontal review-display">
            <dt>Rating:</dt>
            <dd><%= review.rating %></dd>
            <dt>Username:</dt>
            <dd><%= review.user.name %></dd>
            <dt>Description:</dt>
            <dd><%= review.description %></dd>
            <% if review.user == current_user %>
              <dt>
                <%= button_to 'Delete', product_review_path(@product, review), method: :delete %>
              </dt>
              <dd></dd>
            <% end %>
        </dl>
      <% end %>
    </div>
  </article>
</section>
